.cart-item-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.cart-item-card img {
    max-height: 100%;
    object-fit: cover;
}
#cartitemcontent {
    display: flex;
    flex-direction: row;
}