.list-group-item.active {
    z-index: 2;
    color: var(--bs-list-group-active-color);
    background-color: pink;
    border-color: deeppink;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
    color: deeppink;
}

.btn-danger {
    --bs-btn-color: #fff;
    --bs-btn-bg: pink;
    --bs-btn-border-color: #dc3545;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #bb2d3b;
    --bs-btn-hover-border-color: #b02a37;
    --bs-btn-focus-shadow-rgb: 225, 83, 97;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #b02a37;
    --bs-btn-active-border-color: #a52834;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #dc3545;
    --bs-btn-disabled-border-color: #dc3545;
}

.btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: pink;
    --bs-btn-border-color: deeppink;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: deeppink;
    --bs-btn-hover-border-color: red;
    --bs-btn-focus-shadow-rgb: 49, 132, 253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: pinl;
    --bs-btn-active-border-color: red;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: pink;
    --bs-btn-disabled-border-color: deeppink;
}